@font-face
{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(lato.tff) format('truetype');
}

*
{
	font-family: 'Lato', sans-serif;
	color: rgba(255, 255, 255, 1.0);
}

body
{
	background-color: rgba(0, 0, 0, 1.0);
}

table, td
{
	border: .5px solid rgba(255, 255, 255, 1.0);
}

td
{
	background-color: rgba(121, 121, 121, 1.0);
	width: 50px;
}

td:hover, td:active
{
	cursor: pointer;
	background-color: rgba(180, 180, 180, 1.0);
}